@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark {
    h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
        color: rgb(255, 255, 255);
    }
}

h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
    color: rgb(16, 16, 16);
}

html {
    background-color: rgb(32, 32, 32);
}

body {
    background-color: rgb(32, 32, 32);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

html.nv {
    background-color: #000;
    filter: grayscale(1) sepia(1) hue-rotate(-50deg) saturate(6)
        contrast(1.4) brightness(0.6);
    h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
        color: rgb(255, 174, 174);
    }
}

html.nv body {
    background-color: #000;
}

.main-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}