@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark {
    h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
        color: rgb(255, 255, 255);
    }
}

h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
    color: rgb(16, 16, 16);
}

body {
    background-color: rgb(32, 32, 32);
}

html {
    .overlay {
        display: none;
    }
}

html.nv {
    filter: contrast(1.8) brightness(0.7);
    .overlay {
        background-color: rgb(255, 0, 0);
        background-blend-mode: color;
        height: 100%;
        width: 100%;
        position: fixed;
        display: block;
        mix-blend-mode: color;
        pointer-events: none
    }
    h1, h2, h3, h4, h5, h6, p, ul, li, label, button, select, input {
        color: rgb(255, 174, 174);
    }
}

.main-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}